.header{
    background: black;
    width: 100%;
    height: 10vh;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    align-items: center;
    min-width: 300px;
}

.links{
    margin: 0 auto;
    width: 20%;
    min-width: 300px;position: relative;
    right: -5px;
    display: flex;
    justify-content: space-around;
}

.burger_button{
    position: absolute;
    right: 30px;
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}
.line{
    width: 100%;
    height: 2px;
    display: flex;
    background-color: white;
}

.burger_button:hover>.line{
    height: 3px;
    color:gray;
}

.menu{
    position: fixed;
    top: 10vh;
    width: 30%;
    height: 90vh;
    background-color: black;
    z-index: 2;
}

.links>a{
    color: white;
    font-size: 17px;
    text-decoration: none;
}
.links>a:hover{
    text-decoration-line: underline;
}

.name{
    display: flex;
    margin-left: 30px;
    font-weight: bold;
    font-size: 30px;
    position: absolute;
}

.hidden{
    display: none;
}
.visible{
    display: inline;
}