.container{
    width: 100%;
    display: flex;
    flex-direction: row;
    min-width: 320px;
    /* flex-wrap: wrap; */
}

.link{
    color:black;
}
.author:active{
    color:gray;
}

.author{
    width: 320px;
    position: absolute;
    display: flex;
    flex-direction: column;
    min-width: 320px;
}
.author_info{
    margin-left: 10%;
    width: 90%;
}
.author_info>h2{
    margin-bottom: 0px;
}
.author_info>h3{
    color:grey;
    margin-top: 0px;

}
.author_description{
    min-width: 300px;
    font-size: 17px;
}
.info{
    width: calc(100% - 10px);
    margin: 0 auto;
}

.logo_container{
    margin-top: 20px;
    width: 100%;
    height: 270px;
    display: flex;
}
.logo{
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;
    width: 270px;
    height: 270px;
}
.logo>img{
    width: 270px;
    height: 270px;
    object-fit: cover;
}

.images{
    display: flex;
    margin-left: 320px;
    width: calc(100% - 320px);
    /* background: red; */
}

.author_description>p{
    margin-left: 20px;
}

.add_picture{
    width: 100%;
    margin-bottom: 5px;
}
.add_picture>a>button{
    width: 100%;
    height: 50px;
    color:white;
    background: black;
    font-size: 18px;
    border: 1px solid black;
}

.images_container{
    display: flex;
    /* justify-content: space-around; */
    flex-wrap: wrap;
    min-width: 320px;
}
.images_container>div{
    margin: 1px;
}

@media (max-width:1220px){
    .images_container>div{
        width: 49.5%;
    }
}

@media (max-width:925px){
    .images_container>div{
        width: 98%;
    }
}

@media(max-width:810px){
    .container{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .author{
        position: relative;
        width: 40%;
        margin: 0 auto;
    }
    .images{
        margin-left: 0px;
        width: 98%;
        margin: 0 auto;
    }
    .images_container>div{
        width: 49.5%;
    }
}

@media (max-width: 635px){
    .images_container>div{
        width: 98.5%;
    }
}