.images_container{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.images{
    display: flex;
    flex-wrap: wrap;
    height: 20vh;
}
.images>div{
    margin: 2px;
}

@media (max-width:920px){
    .images>div{
        width: calc(49% + 5px);
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width:630px){
    .images>div{
        width: 98%;
        margin-left: auto;
        margin-right: auto;
    }
}